/* Stylesheet For Admin Areas On The Page */

#content input, #content textarea {
	color: #000;
	background: #FFF;
}

#content input[type="image"] {
	background: none !important;
}

#wrapper {
	margin: 33px auto !important;
}

#debtor_suspended {
	width: 600px;
	margin: 20px auto 0;
}
.success_message {
	background: #E3FCE3 url(/images/csimages/tick.png) no-repeat 10px;
	margin: 0 auto;
	padding: 5px 40px;
	color: #414141;
	border-bottom: 1px solid #9FE8B8;
	border-top: 1px solid #9FE8B8;
	font-size: 12px;
	margin-bottom: 20px;
}
.error_message{
	background: #FFF0F0 url(/images/csimages/fail.png) no-repeat 10px;
	margin:0 auto;
	padding: 5px 40px;
	color: #f00;
	border-top: 1px solid #e13f3f;
	border-bottom: 1px solid #e13f3f;
	font-size: 12px;
	margin-bottom: 20px;
}

#content p#formSuccess, #content p#formError {
	color: #000;
}

#content table {
	clear: both;
	margin: 12px 0;
	border: 2px solid #000;
	width: 100%;
}

#content table th, #content table td {
	border: 1px solid #000;
	padding: 2px;
}

#footer_inner_wrapper ul li a:before {
	/*content: '|| ';
	background: url(../images/small-arrow.jpg) no-repeat 0 50%*/
}

/* Start Sidebar Contact Details Plugin */
#sidebar_address span.sidebar_address_line, #company_details span.sidebar_address_line {
	display: block;
	line-height: 16px;
}
span.sidebarAddressHead {
	font-weight: bold;
	display: block;
	padding-top: 5px;
}
.layout1 span.sidebarAddressHead {
	font-weight: normal;
	display: inline;
}
.layout2 span.sidebarAddressHead {
	font-weight: bold;
	display: inline;
}
/* End Sidebar Contact Details Plugin */
/* Start Sidebar Weather Plugin */

#pagemenu_inner_wrapper_left ul li.this_page.temp {
	background: url(/images/csimages/weather_icons/weather_sun.png) 12px 50% no-repeat;
	padding: 0 0 0 40px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	line-height: 30px;
}
#pagemenu_inner_wrapper_left ul li.this_page.wind_speed {
	background: url(/images/csimages/weather_icons/weather_wind.png) 12px 50% no-repeat;
	padding: 0 0 0 40px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	line-height: 30px;
}
	/* Wind Directions */
	#pagemenu_inner_wrapper_left ul li.this_page.wind.north {
		background: url(/images/csimages/weather_icons/arrow-n.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_left ul li.this_page.wind.cross {
		background: url(/images/csimages/weather_icons/arrow-cross.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_left ul li.this_page.wind.noreast {
		background: url(/images/csimages/weather_icons/arrow-ne.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_left ul li.this_page.wind.east {
		background: url(/images/csimages/weather_icons/arrow-e.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_left ul li.this_page.wind.soueast {
		background: url(/images/csimages/weather_icons/arrow-se.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_left ul li.this_page.wind.south {
		background: url(/images/csimages/weather_icons/arrow-s.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_left ul li.this_page.wind.souwest {
		background: url(/images/csimages/weather_icons/arrow-sw.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_left ul li.this_page.wind.west {
		background: url(/images/csimages/weather_icons/arrow-w.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_left ul li.this_page.wind.norwest {
		background: url(/images/csimages/weather_icons/arrow-nw.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}

#pagemenu_inner_wrapper_left ul li.this_page.humidity {
	background: url(/images/csimages/weather_icons/droplet.png) 12px 50% no-repeat;
	padding: 0 0 0 40px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	line-height: 30px;
}
#pagemenu_inner_wrapper_left ul li.this_page.pressure {
	background: url(/images/csimages/weather_icons/pressure_icon.png) 12px 50% no-repeat;
	padding: 0 0 0 40px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	line-height: 30px;
}
#pagemenu_inner_wrapper_left ul li.this_page.visibility {
	background: url(/images/csimages/weather_icons/visibility.png) 12px 50% no-repeat;
	padding: 0 0 0 40px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	line-height: 30px;
	margin-bottom: 10px;
}

#pagemenu_inner_wrapper_right ul li.this_page.temp {
	background: url(/images/csimages/weather_icons/weather_sun.png) 12px 50% no-repeat;
	padding: 0 0 0 40px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	line-height: 30px;
}
#pagemenu_inner_wrapper_right ul li.this_page.wind_speed {
	background: url(/images/csimages/weather_icons/weather_wind.png) 12px 50% no-repeat;
	padding: 0 0 0 40px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	line-height: 30px;
}
	/* Wind Directions */
	#pagemenu_inner_wrapper_right ul li.this_page.wind.north {
		background: url(/images/csimages/weather_icons/arrow-n.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_right ul li.this_page.wind.cross {
		background: url(/images/csimages/weather_icons/arrow-cross.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_right ul li.this_page.wind.noreast {
		background: url(/images/csimages/weather_icons/arrow-ne.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_right ul li.this_page.wind.east {
		background: url(/images/csimages/weather_icons/arrow-e.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_right ul li.this_page.wind.soueast {
		background: url(/images/csimages/weather_icons/arrow-se.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_right ul li.this_page.wind.south {
		background: url(/images/csimages/weather_icons/arrow-s.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_right ul li.this_page.wind.souwest {
		background: url(/images/csimages/weather_icons/arrow-sw.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_right ul li.this_page.wind.west {
		background: url(/images/csimages/weather_icons/arrow-w.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}
	#pagemenu_inner_wrapper_right ul li.this_page.wind.norwest {
		background: url(/images/csimages/weather_icons/arrow-nw.png) 12px 50% no-repeat;
		padding: 0 0 0 40px;
		min-height: 20px;
		height: auto !important;
		height: 20px;
		line-height: 30px;
	}

#pagemenu_inner_wrapper_right ul li.this_page.humidity {
	background: url(/images/csimages/weather_icons/droplet.png) 12px 50% no-repeat;
	padding: 0 0 0 40px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	line-height: 30px;
}
#pagemenu_inner_wrapper_right ul li.this_page.pressure {
	background: url(/images/csimages/weather_icons/pressure_icon.png) 12px 50% no-repeat;
	padding: 0 0 0 40px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	line-height: 30px;
}
#pagemenu_inner_wrapper_right ul li.this_page.visibility {
	background: url(/images/csimages/weather_icons/visibility.png) 12px 50% no-repeat;
	padding: 0 0 0 40px;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	line-height: 30px;
	margin-bottom: 10px;
}
#editTip {
	color: #FFF;
	background: url(/images/csimages/editTip.png) no-repeat;
	display: inline;
	width: 100px;
	height: 46px;
	font-size: 14px;
	padding: 25px 10px 10px;
	font-weight: bold;
	text-align: center;
}
/* End Sidebar Weather Plugin */
/* Start Sidebar Validation Plugin */
#validated .validClass {
	display: block;
	line-height: 18px;
	background: url(/images/csimages/tick.png) 5px 2px no-repeat;
	padding-left: 30px;
}
/* End Sidebar Validation Plugin */

#lhcol #sidebar_text p {
	padding: 5px 10% 10px !important;
	margin: 0;
	width: 80%;
}
#sidebar_text.sidebar_plugin, #sidebar_text.sidebar_plugin p {
	background-position: left bottom !important;
}
#sidebar_text ul {
	list-style-type: disc !important;
}
#sidebar_text ul li {
	margin: 0 0 0 40px;
	padding-left: 5px;
}
#sidebar_text ul li a {
	background: none !important;
	padding: 0 !important;
	margin: 0 !important;
	line-height: 12px !important;
}
#company_details h4 {
	font-size: 13px;
}
#sidebar_image {
	width: 100%;
	background: transparent !important;
	text-align: center;
}
#sidebar_image .sidebar_plugin {
	background: transparent !important;
}
#sidebar_image p {
	padding: 0 !important;
	background: transparent !important;
}

#sidebar_goback p a {
	background: url(/images/arrowLeftGreen.png) no-repeat left center;
	padding-left: 20px;
	font-size: 13px;
}
#lhcol #click_to_call.sidebar_plugin p {
	padding: 0 0 0 4px !important;
}
#rhcol #click_to_call.sidebar_plugin p {
	padding: 0 0 0 1px !important;
}
* html #wrapper #footer_inner_wrapper ul li {
	white-space: normal !important;
}
#sidebar_reviews.sidebar_plugin p.act-rate {
	text-align: right;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
#sidebar_reviews.sidebar_plugin p.see-rev {
	text-align: right;
}
#sidebar_reviews.sidebar_plugin span.border-span {
	display: block;
	border-top: 1px solid;
}
#sidebar_networks .social_networks {
	/*width: 205px;*/
	overflow: hidden;
}
* html #sidebar_networks .social_networks { height: 1%; overflow:visible; }
#sidebar_networks a {
	margin: 5px 3px;
	display: block;
	width: 45px;
	height: 45px;
	float: left;
}

/* Font size classes */
.font10 { font-size: 10px; }
.font11 { font-size: 11px; }
.font12 { font-size: 12px; }
.font13 { font-size: 13px; }
.font14 { font-size: 14px; }
.font15 { font-size: 15px; }
.font16 { font-size: 16px; }

/* Disclaimer */
div.disclaimer { 
	margin-top: 25px; 
	height: auto !important;
}
div.disclaimer span.disclaimer_span {
	display: block;
	margin-top: 2px;
	min-height: 15px;
	height: auto !important;
	height: 15px;
}

/* Back To Top Link */
/*a.scrollUp {
	display: block;
	width: 100px;
	font-size: 10px;
	margin: 10px auto;
}*/

/* Fullsize Styles */
#fullSizeContainer {
	border: 1px solid #000;
	z-index: 150;
}
#fullSizeHead {
	background: url(/images/fullsize/fullsize-title-bg.png) repeat-x scroll left top;
	padding: 5px 0;
	min-height: 14px;
	height: auto !important;
	height: 14px;
	color: #FFF;
	text-align: center;
	font-weight: 700;
	position: relative;
	overflow: hidden;
}

a#fullSizeClose{
	position: absolute;
	margin: 0px 0 0 6px;
	display: block;
	height: 16px;
	width: 16px;
	background: url(/images/fullsize/fullsize-close.png) no-repeat scroll left top;
}

#fullSizeLoading {
	background: url(/images/fullsize/fullsize-loading-bg.png);
	width: 51px;
	height: 51px;
}
#layerMask {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	display: none;
	z-index: 148;
}

/********************************/
/* Generic Company Log Stylings */
/********************************/
#top #top_inner_wrapper #page_header div#custom-logo img {
	position: absolute;
	z-index: 2;
}
	#top #top_inner_wrapper #page_header div#custom-logo img.top-full,
	#top #top_inner_wrapper #page_header div#custom-logo img.top-threequart,
	#top #top_inner_wrapper #page_header div#custom-logo img.top-half,
	#top #top_inner_wrapper #page_header div#custom-logo img.bottom-full {
		top: 0px;
	}
	#top #top_inner_wrapper #page_header div#custom-logo img.top-full,
	#top #top_inner_wrapper #page_header div#custom-logo img.bottom-full {
		height: 142px;
	}
	#top #top_inner_wrapper #page_header div#custom-logo img.top-threequart {
		height: 105px;
	}
	#top #top_inner_wrapper #page_header div#custom-logo img.top-half {
		height: 70px;
	}
	#top #top_inner_wrapper #page_header div#custom-logo img.bottom-threequart {
		top: 38px;
		height: 105px;
	}
	#top #top_inner_wrapper #page_header div#custom-logo img.bottom-half {
		top: 73px;
		height: 70px;
	}
	#top #top_inner_wrapper #page_header div#custom-logo img.left {
		left: 3px;
	}
	#top #top_inner_wrapper #page_header div#custom-logo img.right {
		right: 3px;
	}